@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-product {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  border: 1px solid rgb(4, 129, 81);
  margin: 20px 20px;
  padding: 10px 10px;
  align-items: center;
  gap: 10px;
}
.title-card-product {
  background-color: darkolivegreen;
  /* padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px; */
  color: antiquewhite;
  width: 100%;
}

.button-add-product {
  width: 80%;
  height: 40px;
}

.container {
  height: 100vh;
  /* width: 100%; */
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  );
}

.main-section {
  /* height: 100%; */
  display: flex;
  flex-direction: row;
}

.sidebar-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* height: 100vh; */
  width: 20%;
  outline: 1px solid green;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: green;
}

.sidebar-item {
  height: 48px;
  width: 90%;
  font-size: 24px;
  color: bisque;
  /* background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 25%,
    #bedbb0 92.19%
  ); */
}

.form-container {
  margin-top: 5px;
  padding: 20px;
  width: 30%;
  outline: 1px solid green;
  border-radius: 10px;
}
